<section class="top-section text-center">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-9">
                <h1>ようこそ<b>JIT</b>へ！！</h1>
            </div>
        </div>
    </div>
</section>