<div class="container">  <!-- この行を追加 -->
  <div class="row">      <!-- この行を追加 -->
        <div class="col-lg-4" style="background-color: orange;">
      <h2>サイドバー</h2>
        </div>
        <div class="col-lg-8">  <!-- この行を追加 -->
        
    <table class="table table-striped">
        <div class="col-lg-8">
            <h1>ここは管理者top画面です</h1>
            <h2>ようこそjitへ！！</h2>
        </div>
    </table>
        </div>  <!-- この行を追加 -->
  </div>  <!-- この行を追加 -->
</div>    <!-- この行を追加 -->